@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="text-center">Manage your account</h1>

<div>
    <h2 class="text-center">Change your account settings</h2>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <section class="card shadow-sm mb-3">
                <div class="card-body">
                    <partial name="_ManageNav"/>
                </div>
            </section>
            <section class="card shadow-sm">
                <div class="card-body">
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}
